body{
	background: lightblue;
	text-align: center;
	font-family: 'Poiret one';
	font-weight: bold;
	font-size: 1.3em;
	margin: 0px;
	line-height: 2;
}

nav{
	position: sticky;
	top: 0px;
	background: black;
	padding: 2px;
}

nav ul{
	list-style-type: none;
}
nav li{
	display: inline;
	padding: 0px 5px;
}

nav a{
	text-decoration: none;
	color: white;
}

button{
	background: white;
	font-family: 'Poiret one';
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	width: 200px;
	border: none;
	border-radius: 5px;
}

button:hover{
	background-color: black;
	color: white;
}

table{
	margin: auto;
	border-collapse: collapse;
	min-width: 40%;
}

th{
	text-decoration: underline;
}

td, th{
	padding: 5px;
	border: 1px solid black;
}

form {
	margin: auto;
	width: 40%;
	text-align: left;
}

input{
	width: 70%;
	float: right;
	height: 25px;
}